body{
    background:goldenrod;
    color: rgb(35, 12, 12);
}
.heading{
    width:80%;
    font-size:22px;
    
}
.name_of_objects{
    color: rgb(149, 22, 155);
}
#camera{
    border:2px dashed rgb(233, 152, 233);
    width:350px;
    height:300px;
}
.result_object_name,.result_object_accuracy{
    color: rgb(43, 226, 153);
}